doctype html
html
    head
        base(href='/')
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body(ng-app='app')
        block content
        block scripts
            script(type='text/javascript', src='/js/libs.js')
            script(type='text/javascript', src='/js/app.js')
